# Database
DATABASE_URL="mysql://root:@localhost:3306/smart_travel"


UPLOAD_DIR="uploads"

# Server
PORT=3000
NODE_ENV=development


# JWT
JWT_SECRET=your-super-secret-jwt-key-here
JWT_REFRESH_SECRET=your-super-secret-refresh-key-here
JWT_EXPIRES_IN=1h
JWT_REFRESH_EXPIRES_IN=7d

#Email
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email-here
SMTP_PASS=App_key_here
ADMIN_EMAIL=adminemail



# Logging
LOG_LEVEL=info
LOG_FILE_PATH=logs

# Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=1000

STRIPE_SECRET_KEY=your_stripe_secret_key_here
STRIPE_PUBLISHABLE_KEY=your_stripe_publishable_key_here


# CORS
CORS_ORIGIN=http://localhost:5173,http://localhost:8080

# Google Cloud Vision API for Image Recognition
GOOGLE_APPLICATION_CREDENTIALS="d:\MyProjects\SmartLankaNew\SmartLanka\API\gcloud-credentials.json"


HUGGING_FACE_API_TOKEN="your_hugging_face_api_token_here"

#Pinecone
PINECONE_API_KEY="your_pinecone_api_key_here"
PINECONE_ENVIRONMENT="us-east-1" # <-- Add this line
